* {
  box-sizing: border-box;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.anillo {
  width: 300px;
  height: 300px;
  border: solid 5px transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(black, black) padding-box,
    conic-gradient(
        darkblue 0deg,
        darkorchid 36deg,
        rgb(167, 0, 0) 72deg,
        red 108deg,
        rgb(255, 132, 0) 144deg,
        rgb(255, 255, 0) 180deg,
        rgb(81, 202, 1) 216deg,
        green 252deg,
        rgb(0, 255, 140) 288deg,
        rgb(0, 42, 255) 324deg,
        darkblue 360deg
      )
      border-box;
  transform-style: preserve-3d;
  position: relative;
  animation: rotar;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.esfera {
  width: 200px;
  height: 200px;
  border: solid 5px transparent;
  border-radius: 50%;
  background: linear-gradient(black, black) padding-box,
    conic-gradient(
        darkblue 0deg,
        darkorchid 36deg,
        rgb(167, 0, 0) 72deg,
        red 108deg,
        rgb(255, 132, 0) 144deg,
        rgb(255, 255, 0) 180deg,
        rgb(81, 202, 1) 216deg,
        green 252deg,
        rgb(0, 255, 140) 288deg,
        rgb(0, 42, 255) 324deg,
        darkblue 360deg
      )
      border-box;
  animation: planeta;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: visible;
}
@keyframes rotar {
  0% {
    transform: rotateX(-70deg) rotateY(30deg) rotateZ(0deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: rotateX(-70deg) rotateY(30deg) rotateZ(360deg);
    transform-style: preserve-3d;
  }
}
@keyframes planeta {
  0% {
    transform: rotateX(85deg) rotateY(-30deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(90deg) rotateY(-210deg) rotateZ(180deg);
  }
  100% {
    transform: rotateX(85deg) rotateY(-390deg) rotateZ(360deg);
  }
}
